parameters:
    appDir: %appDir%
    wwwDir: %wwwDir%

application:
    errorPresenter: Error
    mapping:
        *: App\Presentation\*Module\*Presenter

services:
    - App\Core\RouterFactory::createRouter
